PORT=5000
MONGODB_URI=mongodb+srv://shreyashpbn_db_user:<db_password>@cluster0.uj68wxm.mongodb.net/gaytalk?retryWrites=true&w=majority
AGORA_APP_ID=09b3df9a6e874153924cb08d71d73b9b
AGORA_APP_CERTIFICATE=dafbd89bc75543e5b799976db653c5bf
# Replace <db_password> above with your actual database password!
